.chat {
    display: flex;
    flex-direction: column;
    flex: 0.7;
}

.chat__body {
    flex: 1;
    padding: 30px;
    background: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png") repeat center;
    overflow: scroll;
}

.chat__body::-webkit-scrollbar {
    display: none;
}