.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat__info {
    margin-left: 15px;
    width: 100%;
}

.sidebarChat__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sidebarChat__timestamp {
    color: gray;
    font-size: 12px;
    margin-left: auto;
}

.sidebarChat__info .sidebarChat__header>h2 {
    font-size: 16px;
    margin-bottom: 5px;
    flex: 1;
}

.sidebarChat__info>p {
    font-size: 14px;
}